MONGO_URI=mongodb+srv://gowtham-1904:gowtham%401904@cluster0gowtham.dszw3lc.mongodb.net/techforge?appName=Cluster0gowtham
JWT_SECRET=techforgesupersecretkey
EMAIL_SERVICE=gmail
EMAIL_USERNAME=your_email@gmail.com
EMAIL_PASSWORD=your_app_password
CLIENT_URL=https://techforgeworkshop.netlify.app
PUPPETEER_EXECUTABLE_PATH=/opt/render/.cache/puppeteer/chrome/linux-*/chrome-linux64/chrome
PORT=5000
NODE_ENV=production
